.select2-container .select2-selection--single {
    height: auto;
    display: flex;
}

body {
    --bs-body-font-size: 0.9rem;
}

.select2-container {
    border: var(--bs-border-width) solid var(--bs-border-color);
    padding: 0.25rem 0.5rem;
    border-radius: var(--bs-border-radius-sm);
}

.div-4x3 {
    width: 100%; /* Hoặc bất kỳ giá trị cụ thể nào bạn muốn */
    aspect-ratio: 4 / 3;
    align-items: center;
    overflow: hidden;
}

.classes-list::after,
.class-item .class-header::after,
.class-item .class-footer .class-actions-toolbar::after {
	content: ' ';
	clear: both;
	display: block;
}
.table-attendant th,
 .table-attendant td {
	border: 1px solid #ccc;
	padding: 10px;
}
#menu li {
	float: left;
	padding: 0 0 10px 0;
	position: relative;
	line-height: 0;
}
.classes-list .class-item {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
	width: 45%;
	min-height: 200px;
	position: relative;
}
.separator .inner .currentTime {
	float: left;
	width: auto;
}
.separator .inner .categories {
	float: right;
	width: auto;
}
.order_header .order_date .order_line_label_header {
	text-align: center;
	font-size: 18px;
	display: block;
}
.order_header .order_date {
	float: left;
	width: 145px;
}
.form-elements .form-item {
	float: left;
	width: 23%;
	height: 45px;
}
#menu li:hover	> ul {
	display: block;
}
#menu li:hover > a {
	color: #444;
}
.schedule-daily::after {
	content: ' ';
	display: block;
	clear: both;
}
#menu a {
	float: left;
	height: 25px;
	padding: 0 10px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
.order_signature_wrapper .order_signature .order_signature_item {
	float: left;
	width: 33%;
	text-align: center;
}
.schedule-daily .schedule-daily-item .subject-name {
	font-size: 18px;
	color: red;
}
.schedule-daily .schedule-daily-item .room-name {
	font-size: 22px;
	color: green;
	font-weight: bold;
}
.schedule-daily .schedule-daily-item {
	float: left;
	margin: 10px;
	padding: 10px;
	border: 3px dotted #CCC;
	width: 200px;
	height: 200px;
	text-align: center;
	vertical-align: middle;
}
.schedule-daily .schedule-daily-item .teacher-name {
	font-size: 18px;
	color: red;
}
.schedule-daily .schedule-daily-item .class-name {
	font-size: 16px;
	color: blue;
}
#menu ul ul li:first-child a:hover:after {
	border-right-color: #E0ECFF;
	border-bottom-color: transparent;
}
#menu ul ul li:first-child a:after {
	left: -8px;
	top: 12px;
	width: 0;
	height: 0;
	border-left: 0;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	border-right: 8px solid #E0ECFF;
}
#menu ul ul {
	top: 0;
	left: 150px;
}
#menu ul li:last-child > a {
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#menu ul li:first-child a:hover:after {
	border-bottom-color: #E0ECFF;
}
#menu ul li:last-child {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#menu ul li {
	float: none;
	margin: 0;
	padding: 0;
	display: block;
	-moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
	-webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
	box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	top: 35px;
	left: 0;
	z-index: 99999;
	background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
	-moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
	-webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
	box-shadow: 0 0 2px rgba(255,255,255,.5);
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#menu ul a {
	padding: 10px;
	height: auto;
	width: 130px;
	line-height: 1;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}
#menu ul a:hover {
	background: linear-gradient(#04acec,  #0186ba);
}
#menu ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 30px;
	top: -8px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 8px solid #E0ECFF;
}
#menu ul li:first-child > a {
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
#menu {
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
	background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
	-moz-border-radius: 50px;
	border-radius: 50px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
}
.pzk-autocomplete {
	position: absolute;
	z-index: 1;
	background: #fff;
}
*:first-child+html #menu {
	zoom: 1;
}
* html #menu {
	zoom: 1;
}
.pzk-autocomplete-close {
	float: right;
	margin-right: -10px;
	margin-top: -10px;
	text-decoration: none;
	border: 1px solid #ddd;
	padding: 10px;
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	text-align: center;
}
.pzk-autocomplete-item {
	text-decoration: none;
	padding: 5px;
	border-bottom: 1px solid #ddd;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
}
.clearfix::after {
	content: " ";
	display: block;
	clear: both;
}
.pzk-autocomplete-item:hover {
	background: yellow;
}
#menu:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
*:first-child+html #menu ul a {
	height: 10px;
}
.order_no input {
	width: 100px;
	border: none;
	border-bottom: 1px dotted #333;
}
.order_line_value input {
	width: 100px;
	border: none;
	border-bottom: 1px dotted #333;
}
.order_wrapper {
	width: 595px;
	font-size: 12px;
}
.order_no input[disabled] {
	display: none;
}
.easyui-combobox2 {
	width: 120px;
}
*html #menu ul a {
	height: 10px;
}
*html #menu li a:hover {
	color: #444;
}
.class-item .class-header .class-title {
	float: left;
}
.class-item .class-header .class-title h2 {
	display: inline-block;
}
.separator {
	background: #eceeed;
	padding: 10px;
}
.table-attendant-detail thead {
	background-color: #eee !important;
}
.order_header .order_company {
	float: left;
	width: 145px;
}
.order_header .order_no {
	float: left;
	width: 145px;
}
.clear {
	clear: both;
}
.order_header .order_template {
	float: left;
	width: 145px;
}
.table-attendant thead {
	background-color: lightgreen;
}
.table-attendant {
	border-collapse: collapse;
}
.class-item .class-footer {
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
	width: 90%;
}
.class-item .class-header .class-grade {
	float: right;
	padding-top: 25px;
}
.class-item .class-footer .class-actions-toolbar .class-action {
	display: inline-block;
}
.class-item .class-footer .class-actions-toolbar .class-action-attendant {
	float: left;
}
.center-management-classes-actions {
	margin-bottom: 20px;
}
.class-item .class-footer .class-actions-toolbar .class-action-end {
	float: right;
}
.order_signature_wrapper .order_date {
	text-align: right;
}

.order_table {
	width: 100%;
}
.order_table tr th, .order_table tr td {
	border: 1px solid #333;
	padding: 3px;
}