.select2-container .select2-selection--single {
    height: auto;
    display: flex;
}

body {
    --bs-body-font-size: 0.9rem;
}

.select2-container {
    border: var(--bs-border-width) solid var(--bs-border-color);
    padding: 0.25rem 0.5rem;
    border-radius: var(--bs-border-radius-sm);
}

.div-4x3 {
    width: 100%; /* Hoặc bất kỳ giá trị cụ thể nào bạn muốn */
    aspect-ratio: 4 / 3;
    align-items: center;
    overflow: hidden;
}
